.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* font-size: calc(10px + 2vmin); */
}

.container {
  text-align: center;
  align-items: center;
  justify-content: center;
}

